.slidecontainer{
    width:50rem;
    margin-left: 2rem;
        border: 2px solid blue;
        display: flex;
        overflow-x:hidden;
        overflow-y:hidden;
        border-radius: 40px;
        background-color: black;
}

.slidecontainer{
    width: 78rem;
     height:37rem;
     /* line-height:110px; */
     text-align: center;
     background-color:hwb(136 2% 14% / 0.939);
     text-align: center;
     justify-content: center;
     margin-top: 35px;
     margin-right: 2rem;
     margin-bottom: 10rem;
     margin-left: 1rem;
 
 }

 .imagecontent,.card-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 10px 14px;
}
.card{
    border-radius: 25px;
    background-color: rgb(174, 250, 241);
}
.firstchange{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3PX;
}
.firstchange .first{
    height: 130%;
    width:130%;
    object-fit: cover;
    border-radius: 10%;
    border: 4px solid red;
    margin-left:-2rem;
}
.name{
    font-size: 25px;
    font-weight: 400px;
    color: black;
    text-align: center;
    margin-top:3rem;
    margin-bottom: 3px;
}
.description{
    margin-top: 1rem;
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-bottom: 6px;
    font-weight: 500;
    text-decoration: underline;
}
.experience{
    font-size: 1.5rem;
    color: blue;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 0.6rem;
  }
  .container{
      justify-content:center;
      text-align: center;
      margin-right: 5rem;
    margin-top: 19rem;
    margin-left: 30rem;

}
.mainsContainer{
    position: relative;
    border-radius: 4px solid black;
    box-sizing: border-box;
    width: 84.5rem;
    height :56rem;
    border: 1px solid black;
    margin-top: -14.5rem;
    margin-bottom: -1rem;
      /* margin-left: -.1rem; */
      justify-content: center;
      text-align: center;
      background-color: greenyellow;
  }
  .head1{
    margin-top: -15rem;
    margin-left: -20rem;
    margin-bottom: 7rem;
    font-size: 3rem;
    text-decoration: underline;

}
.para{
    margin-top: -4rem;
    font-size: 1.5rem;
    margin-left: -27rem;
}
.box{
    margin-left: 1rem;
}
.swipers{
    margin-left: 2rem;
   margin-bottom: 3rem;
}
.lis{
    list-style-type: circle;
    justify-content: left;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;

}
.box{
    padding-top: 2rem;
padding: 1rem;
text-align: center;
justify-content: center;
margin-left: -1.5rem;
}