
/* body{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #efefef;
} */
.slidecontainer{
    max-width:110rem;
    
    border: 2px solid blue;
    display: flex;
    overflow-x:hidden;
    overflow-y:hidden;
    border-radius: 40px;
    background-color: black;

    
   
}
.slidecontainer, .box{
    min-width: 140px;
    height:650px;
    /* line-height:110px; */
    text-align: center;
    background-color: white;
  text-align: center;
  justify-content: center;
    margin-top: 25px;
    margin-left: 10rem;
    margin-bottom: 10rem;
    
}

.imagecontent,.card-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 10px 14px;
}
.card{
    border-radius: 25px;
    background-color: rgb(174, 250, 241);
}
.firstchange{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
   
    padding: 3PX;
}
.firstchange .first{
    height: 130%;
    width:130%;
    object-fit: cover;
    border-radius: 10%;
    border: 4px solid red;
    margin-left:-2rem;
}
.name{
    font-size: 25px;
    font-weight: 400px;
    color: black;
    text-align: center;
    margin-top:5rem;
    margin-bottom: 3px;
}
.description{
    font-size: 2.5rem;
    color: black;
    text-align: center;
    margin-bottom: 6px;
    font-weight: 500;
    text-decoration: underline;
}
.experience{
    font-size: 2.4rem;
    color: blue;
    font-weight: 500;

}
.container{
    justify-content:center;
    text-align: center;
    margin-right: 38rem;
    margin-top: 19rem;
    margin-left: 10rem;
   
}
.mainsContainer{
    width: 145%;
    height :100rem;
    border: 1px solid black;
    margin-top: 20rem;
    margin-left: -43rem;
    justify-content: center;
    text-align: center;
    background-color: greenyellow;
}
.head1{
    margin-top: -13rem;
    margin-left: 30rem;
    margin-bottom: 7rem;
    font-size: 4rem;
    text-decoration: underline;
    
}
.para{
    margin-top: -3rem;
    font-size: 22px;
    margin-left: 30rem;
}
.box{
    margin-left: 1rem;
    
  
}
.swipers{
    margin-left: 2rem;
   margin-bottom: 3rem;
}
.lis{
    list-style-type: circle;
    justify-content: left;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
}