.parentCont{
    border: 1px solid grey;
    width: 100%;
    height: 600px;
    
    background-image: url("https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.registerPage{
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid;
    width: 40%;
    margin: 20% 20%;
    background-color: rgb(184, 184, 136);
}

 form{
    display: flex;
    flex-direction: column; 
    gap : 20px;

    
} 


input{
    display: inline;
    height: 30px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
}

.signUpBtn{
    width: 100%;
}



@media only screen and (min-width: 600px) and (max-width : 800px) {

    .parentCont{
        border: 1px solid grey;
        width: 100%;
        height: 600px;
        margin: 1%;
        background-color: rgb(206, 200, 192);
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .registerPage{
        display: flex;
         align-items: center;
         justify-content: center;
         border: solid;
         width: 100%;
         margin: 5%;
         background-color: rgb(235, 203, 164);
     }

     input{
        display: inline;
        height: 30px;
        width: 200px;
        border: 1px solid gray;
        border-radius: 10px;
    }

     .signUpBtn{
        width: 100%;
    }

}

@media only screen and (min-width: 800px) and (max-width : 1200px) {

    .parentCont{
        border: 1px solid grey;
        width: 80%;
        height: 600px;
        margin: 1% 10%;
        background-color: rgb(206, 200, 192);
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .registerPage{
        display: flex;
         align-items: center;
         justify-content: center;
         border: solid;
         width: 100%;
         margin: 5%;
         background-color: rgb(235, 203, 164);
     }

     input{
        display: inline;
        height: 30px;
        width: 200px;
        border: 1px solid gray;
        border-radius: 10px;
    }

     .signUpBtn{
        width: 100%;
    }

}

@media only screen and (min-width: 300px ) and (max-width : 600px) {

    .parentCont{
        border: 1px solid grey;
        width: 100%;
        height: 100%;
        margin: 1%;
        background-color: rgb(206, 200, 192);
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .registerPage{
        display: flex;
         align-items: center;
         justify-content: center;
         border: solid;
         width: 100%;
         height: 600px;
         margin: 5%;
         background-color: rgb(235, 203, 164);
     }

     input{
        display: inline;
        height: 30px;
        width: 200px;
        border: 1px solid gray;
        border-radius: 10px;
    }

     .signUpBtn{
        width: 100%;
    }

}