.parentDiv{
    width:100%;
    height: 100vh;
    position: relative;
}

.imgs{
   width: 100%;
   height:100%;
   object-fit: cover;

}

.homeContent{
    position: absolute;
    top:45%;
    /* left: 5%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
}

.homeContent h1{
    font-size: 3rem;
    font-weight: 800;
    color: white;
    /* background: #fff; */
    /* -webkit-background-clip :text ; */
    /* -webkit-text-fill-color: transparent; */

}

.homeContent p{
    font-size: 1.3rem;
    color: #fff;
    padding: 0.5rem 0 2rem 0;


}
.homeContent .button{
    text-decoration: none;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #222;
    cursor: pointer;
}

 .button:hover{
    color:#fff;
    background-color: #222;
 }
  
 @media screen and (max-width:300px) and (max-width:768){
    .imgs{
        margin: 4px;
        height: 32vh;
        width: 40vh;
    }
 }



/* @media screen and (max-width:555px) {
    .homeContent h1{
        padding: 10px 20px;
    }

    .homeContent p{
        font-size: 1.1rem;
        padding: 0 0 2rem 0;

    }

    .homeContent .button{

        padding: 0.6rem 1.1rem;
        border-radius: 6px;
        font-size: 1rem;

       }
       h1,p{
        display: none;
       }
     
  
}
@media screen and (max-width:850px){
    h1, p{
        display: none;
    }
    .imgs{
        width: 100%;
    }
} */