.parentList{
   display: flex; 
   gap: 50px;
   width: 50%;
   height: 50%;
   justify-content: center;
   margin-left: 50px;
  
   

}

.ParentDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.95);
    width: 100%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 0;
    z-index:1;
    background: rgba(0,0,0,0.6);
}


.navbarLogo{
   
    font-size: 2rem;
    cursor: pointer;
    color: #99cc18;

}

#parentList{
display: grid;
grid-template-columns: repeat(4, auto);
grid-gap: 50px;
list-style: none;
align-items:center ;

}
.listItems a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;


}

.listItems a:hover{
    color: #13e3a4;
 }

.navButton{
    padding: 0.5rem 1rem;
    color: red;
    box-shadow: 0 5px 15px 0 rgba(191, 36, 36, 0.25);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.navButton:hover{
    background-color: #151516;
    color: #fff;
}
#mobile{
    display: none;
}

@media screen and ( max-width: 850px){
   
    .parentList{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        background-color: #2a3239;
        ;

    }
     .parent{
        display: none;
    }
    #mobile{
        display: block;
    }
    #mobile i {
        display: block;
        font-size: 24px;
        color: #99cc18;
        padding-left: 20%;
    }
    .navButton{
        margin-right: 50px;
    }

}


/* 
@media screen and ( max-width: 850px){ */
    /* .ParentDiv{
        z-index: 99;
    } */
/* 
    #parentList{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
               background:rgba(0,0,0,0.6);
        width: 100%;
        height: auto;
        position: absolute;
        top: 10px;
        left: 50%;
        /* opacity: 0; */
        /* align-items: stretch; */
        /* padding: 80px 0 30px ;
        z-index: -1; */
/* 
    }
    .navbarLogo{
        display: inline;
    } */
      /* */
/*     


         .navButton{
            display: block;
            width: 100%;
            font-size:1.2rem;
            padding: 2rem 0;
         }

         .navButton:hover{
            background: #01959a;
            transition: none;
         } */

        
         
/* 
}
@media screen and (max-width:555px){
    h1{display: block;}
} */ 
