/* .parentList{
   display: flex; 
  
   width: 90%;
   height: 80px;
   justify-content: space-between;
   
    gap: 100px;
    text-decoration: none;
  
    top: 20px;
 
}

li{
    text-decoration: none;
} */

.ParentDiv{
    /* border: 3px solid grey;
    background-color: rgb(67, 159, 159);
    margin-top: 2px;
    display: flex;
    justify-content: space-between; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: white;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left:50%;
    transform: translate(-50%);
    z-index: 9999;
    

}

.navbarLogo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;

}

.parentList{
display: grid;
grid-template-columns: repeat(4, auto);
grid-gap: 50px;
list-style: none;
align-items:center ;

}
.listItems{
    display: flex;
   
    font-size: 20px;
    font-weight: 600;
    
    
}

.navButton{
    padding: 0.5rem 1rem;
    color: red;
    box-shadow: 0 5px 15px 0 rgba(191, 36, 36, 0.25);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.navButton:hover{
    background-color: #151516;
    color: #fff;
}
.navButton-mobile{
    display: none;
}

@media screen and ( max-width: 850px){
    .ParentDiv{
        z-index: 99;
    }
    
    .parentList{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: white;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px ;
        z-index: -1;

    }

    .parentList.active{

        left: 0;
        opacity: 1;
        z-index: -1;
    }


         .navButton{
            display: block;
            width: 100%;
            font-size:1.2rem;
            padding: 2rem 0;
         }

         .navButton:hover{
            background: #01959a;
            transition: none;
         }

         .navButton-mobile{
            display: block;
            text-align: center;
            padding: 1.5rem;
            margin: auto;
            border-radius: 4px;
            width: 80%;
           background: #01959a;
           text-decoration: none;
           color: #fff;
           font-size: 1.2rem;
           font-weight: 700;
           letter-spacing: 2px;
         }
    
}