body{
    margin: 0;
    padding: 0;
}
form{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.parentCont{
    border: 1px solid grey;
    width : 100%;
    height: 500px;
    
    background-color: rgb(215, 210, 203);
    background-image: url("https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.login{
    border: 1px solid gray;
    width: 40%;
    background-color: rgb(184, 184, 136);
    margin: 25% 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}